body {
    background-color: red !important;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: blue;
}

p {
    color: blue;
    font-size: 18px;
}
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

h2 {
    margin-top: 30px;
    color: #222;
}

ul {
    text-align: left;
    display: inline-block;
}
